<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Node with Express!</title>
</head>
<body>
    <h1>You're on the contact page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Vel soluta quisquam facere eaque, cumque rerum quia accusamus 
    odit minus maxime assumenda in repudiandae consequuntur laudantium aperiam 
    non accusantium illum tenetur.</p>
    
</body>
</html>