<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Welcome to Node with Express!</title>
</head>
<body>

    <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
    </ul>

    <h1>Fanshawe and its Profs</h1>

<!-- this is a placeholder tag - express will render templates / partials here -->
    {{{ body }}}

    


    <script src="js/main.js"></script>
</body>
</html>